[submodule "vendor/ZF2"]
	path = vendor/ZF2
	url = https://github.com/zendframework/zf2.git
[submodule "vendor/no-composer/Ext"]
	path = vendor/no-composer/Ext
	url = https://github.com/silverplate/ext.git
